*.md linguist-language=Markdown linguist-detectable=true linguist-documentation=false linguist-vendored=false linguist-generated=false
*.markdown linguist-language=Markdown linguist-detectable=true linguist-documentation=false linguist-vendored=false linguist-generated=false
*.yml linguist-language=YAML linguist-detectable=true linguist-documentation=false linguist-vendored=false linguist-generated=false
*.yaml linguist-language=YAML linguist-detectable=true linguist-documentation=false linguist-vendored=false linguist-generated=false
*.toml linguist-language=TOML linguist-detectable=true linguist-documentation=false linguist-vendored=false linguist-generated=false
