*.md linguist-language=Markdown linguist-detectable -linguist-documentation -linguist-vendored -linguist-generated
*.markdown linguist-language=Markdown linguist-detectable -linguist-documentation -linguist-vendored -linguist-generated
*.yml linguist-language=YAML linguist-detectable -linguist-documentation -linguist-vendored -linguist-generated
*.yaml linguist-language=YAML linguist-detectable -linguist-documentation -linguist-vendored -linguist-generated
*.toml linguist-language=TOML linguist-detectable -linguist-documentation -linguist-vendored -linguist-generated
